*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", serif;
  }
  
  .navbar-brand{
  font-family: "Ga Maamli", sans-serif;
  }
  
  #home{
    position: relative;
    top: 50px;
    height: 85vh;
  }

  .nav-link:hover{
    background-color: #8D0B41;
    border: 1px solid white;
    border-radius: 15px;
    transform: scale(1.1);
    text-align: center;
    font-weight: 700;
    font-family: "Ga Maamli", sans-serif;
    letter-spacing: 2px;
  }

  
  main{
    height: 60vh;
  }
  main h1 span{
    opacity: 0;
    animation: fadeIn 10s ease infinite;
  }
  main strong{
    animation: fadeIn 3s ease-in-out infinite;
  }
  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    50%{
      color: #8D0B41;
      font-weight: 100;
    }
    100%{
      opacity: 1;
      font-weight: 900;
    }
  }
  main h1 span:nth-child(1){
    animation-delay: 0s;
  }
  main h1 span:nth-child(2){
    animation-delay: 0.2s;
  }
  main h1 span:nth-child(3){
    animation-delay: 0.4s;
  }
  main h1 span:nth-child(4){
    animation-delay: 0.6s;
  }
  main h1 span:nth-child(5){
    animation-delay: 0.8s;
  }
  main h1 span:nth-child(6){
    animation-delay: 1s;
  }
  main h1 span:nth-child(7){
    animation-delay: 1.2s;
  }
  main h1 span:nth-child(8){
    animation-delay: 1.4s;
  }
  main h1 span:nth-child(9){
    animation-delay: 1.6s;
  }
  main h1 span:nth-child(10){
    animation-delay: 1.8s;
  }
  main h1 span:nth-child(11){
    animation-delay: 2s;
  }
  main h1 span:nth-child(12){
    animation-delay: 2.2s;
  }
  main h1 span:nth-child(13){
    animation-delay: 2.4s;
  }
  .icons{
    color: #8D0B41;
    transition: all 200ms;
  }
  .icons:hover{
    transform: scale(1.3);
  }

  #education{
    overflow-x: auto;
  }

  #course .col{
    transition: all 0.9s; 
    background-color: white;
    border: 1px solid #8D0B41;
    border-radius: 10px;
    }
    #course .col:hover{
      border: 1px solid white;
      color: white;
      background-color: #8D0B41;
      transform: scale(1.03);
      overflow: hidden;
      text-transform: capitalize;
      letter-spacing: 1px;
      }
.card {
  transition: 700ms;
}

.card:hover {
  transform: scale(1.1, 1.1);
  background-color: #8D0B41;
  color: white;
}

.cards:hover > .card:not(:hover) {
  filter: blur(5px);
  transform: scale(0.9, 0.9);
} 
  form .input{
    background-color: white;
    border: 1px solid white;
  }
  form .input:hover{
    background-color: #8D0B41;
    border: 1px solid #8D0B41;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 5px;
  }

  .exp{
    transition: all 0.9s; 
    border: 1px solid #8D0B41;
    border-radius: 10px;
}
.exp:hover {
    transform: scale(1.1, 1.1);
    background-color: #8D0B41;
    color: white;
}
  
.experience:hover > .exp:not(:hover) {
    filter: blur(2px);
    transform: scale(0.9, 0.9);
} 
  
  
  /*--------------------*/
.cards-item{
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
  cursor: pointer;
  padding: 20px;
  margin: 10px;
}
 
.cards-item img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill;
  transition: all 1s;
}

.cards-item .para{
  margin-top: 35px;
  opacity: 0;
  overflow: auto;
}

.info{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background: #8D0B41;
  transition: all 1s;
}

.name{
  font-size: 20px;
  font-weight: 600;
  color: #f9f9f9;
}
.role{
  font-size: 16px;
  font-weight: 400;
  color: #e9e7e7;
}
.cards-item:hover a{
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 10px 10px;
  background-color: #8D0B41;
  color: white;
}

.cards-item:hover img{
  display: none;
}

.cards-item:hover .info{
  top: 0;
  left: 0;
  height: 50px;
  background-color: #8D0B41;
  border-radius: 0;
}
.cards-item:hover .info .role{
  display: none;
}

.cards-item:hover .para{
  animation: fadeUp 1s forwards;
}
@keyframes fadeUp {
  from{
    opacity: 0;
    transform: translateY(200px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
} 

    @media screen and (max-width:992px){
      main{
        height: 90vh;
      }
    }
    /* @media screen and (max-width:768px){
      .project{
        margin-top: 150px;
      }
    } */
